Package: com.zodacios.dtcby
Name: DTCBy
Version: 0.12
Architecture: iphoneos-arm64
Description: Prevents apps from detecting screenshots and screen recordings. Always active after installation.
Maintainer: ZodaciOS
Author: ZodaciOS
Section: Tweaks
Depends: mobilesubstrate | com.ex.libhooker, firmware (>= 14.0)
